config LEGACY_API
	bool "Enable Legacy U-Boot API"
	depends on CC_IS_GCC
	help
	  This option enables the legcay U-Boot API. See legacy_api/README for
	  more information.

	  Note that this is deprecated and not intended to be used. It will be
	  removed by the end of 2027.

menu "LEGACY API"
	depends on LEGACY_API

config SYS_MMC_MAX_DEVICE
	int  "Maximum number of MMC devices exposed via the legacy API"
	default 1

endmenu
