# Configuration for IMDT QCS8550 SBC
# Based on efi-arm_app64_defconfig with board-specific overrides
#include "efi-arm_app64_defconfig"
CONFIG_TARGET_IMDT_QCS8550=y
CONFIG_VIDEO=n
CONFIG_CHID=n
CONFIG_RUST_EXAMPLES=n
CONFIG_CONSOLE_PAGER=n
# Prevent serial terminals pausing the boot process due to unexpected input
CONFIG_AUTOBOOT_KEYED=y
CONFIG_AUTOBOOT_DELAY_STR="d"
CONFIG_AUTOBOOT_STOP_STR=" "
CONFIG_DEFAULT_FDT_FILE="qcs8550-imdt-sbc.dtb"
CONFIG_IMDT_QCS8550_OVERLAYS="qcs8550-imdt-sbc-display.dtbo qcs8550-imdt-sbc-ar1335-csi0.dtbo"
CONFIG_CMD_FDT=y
CONFIG_OF_LIBFDT_OVERLAY=y
CONFIG_ENV_IS_IN_FAT=y
CONFIG_ENV_FAT_INTERFACE="efi"
CONFIG_ENV_FAT_DEVICE_AND_PART="4:46"
CONFIG_ENV_SIZE=0x2000
# CONFIG_ENV_IS_DEFAULT is not set
# CONFIG_ENV_IS_NOWHERE is not set
CONFIG_BOOTCOUNT_LIMIT=y
CONFIG_BOOTCOUNT_ENV=y
